fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
pydantic[email]==2.10.6
pydantic-settings==2.7.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
alembic==1.14.1
redis==5.2.1
celery==5.4.0
python-dotenv==1.0.1
ultralytics==8.3.70
supervision==0.18.0
opencv-python==4.10.0.84
numpy>=1.23.0,<=2.1.1
matplotlib==3.10.0
pandas==2.2.3
reportlab==4.3.1
scikit-learn==1.6.1
